<html xmlns:th="https://www.thymeleaf.org/">
	<head></head>
	<body>
		<div style="font-size: 20px">Add new Customer :)</div>
			<form th:action="@{/customers/save}" method="POST" id="customersForm">
				<div class="row">
					<div class="col-2">
						<label for="firstName"><b>FIRST NAME</b></label>
					</div>
					<div class="col-4">
						<input type="text" name="firstName" id="firstName"
							class="form-control" />
					</div>
				</div> <br/>
				<div class="row">
					<div class="col-2">
						<label for="lastName"><b>LAST NAME</b></label>
					</div>
					<div class="col-4">
						<input type="text" name="lastName" id="lastName"
							class="form-control" />
					</div>
				</div><br/>
				<div class="row">
					<div class="col-2">
						<label for="officeEmail"><b>OFFICE EMAIL</b></label>
					</div>
					<div class="col-4">
						<input type="text" name="officeEmail" id="officeEmail"
							class="form-control" />
					</div>
				</div> <br/>
				<div class="row">
					<div class="col-2">
						<label for="personalEmail"><b>PERSONAL EMAIL</b></label>
					</div>
					<div class="col-4">
						<input type="text" name="personalEmail" id="personalEmail"
							class="form-control" />
					</div>
				</div> <br/>
				<div class="row">
					<div>
						<b>FAMILY MEMBERS</b>
					</div>
					<table>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
						</tr>
						<tr>
							<td><input type="text" name="familyMembersFirstName" class="form-control"/></td>
							<td><input type="text" name="familyMembersLastName" class="form-control"/></td>
						</tr>
					</table>
				</div>
				<button type="submit" class="btn btn-success">Save </button>
			</form>
			<form th:action="@{/customers/getAllCustomers}" method="POST">
				<input type="submit" value="Show All Customers" />
			</form>
		</div>
		<div th:if="${message!=null}"  class="card-footer bg-white text-info">
			<span th:text="${message}"></span>
		</div>
	</body>
</html>