<html xmlns:th="https://www.thymeleaf.org/">
	<head></head>
	<body>
		<div style="font-size: 20px">Edit Product :)</div>
            <form th:action="@{/products/update}" method="POST" id="productsForm" th:object="${product}">
                <div class="row" style="display:none">
                    <div class="col-2">
                        <label for="id">ID</label>
                    </div>
                    <div class="col-4">
                        <input type="text" th:field="*{id}" class="form-control" />
                    </div>
                </div>
				<div class="row">
                    <div class="col-2">
                        <label for="bookTitle">BOOK TITLE</label>
                    </div>
                    <div class="col-4">
                        <input type="text" th:field="*{bookTitle}" class="form-control" />
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-2">
                        <label for="bookPrice">BOOK PRICE</label>
                    </div>
                    <div class="col-4">
                        <input type="text" th:field="*{bookPrice}" class="form-control"/>
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-2">
                        <label for="bookQuantity">BOOK QUANTITY</label>
                    </div>
                    <div class="col-4">
                        <input type="text" th:field="*{bookQuantity}" class="form-control"/>
                    </div>
                </div><br/>
                <button type="submit" class="btn btn-success">Update</button>
            </form>
			<form th:action="@{/products/getAllProducts}" method="POST">
				<input type="submit" value="Show All Products" />
			</form>
        </div>
		<div th:if="${message!=null}"  class="card-footer bg-white text-info">
			<span th:text="${message}"></span>
		</div>
	</body>
</html>